extends ../layout

block content
  a(href='/bicicletas') Volver

  br
  br
  br

  h1 Nueva Bicicleta

  br
  br

  form(action='/bicicletas/create' method='post')
    label(for='code') Code:
    Input#code(type='text' name='code')
    br
    label(for='color') Color:
    Input#color(type='text' name='color')
    br
    label(for='modelo') Modelo:
    Input#modelo(type='text' name='modelo')
    br
    label(for='lat') Latitud:
    Input#lat(type='text' name='lat')
    br
    label(for='lng') Longitud:
    Input#lng(type='text' name='lng')
    br
    br
    input.btn(type='submit' value='OK')